<h1>Score</h1>
<!-- après le game -->

<p> Your word: <%= @attempt %></p>
<p> Time Taken to answer: <%= @duration %> </p>
<p> Translation: <%= @translation %> </p>
<p> Your score: <%= @score %> </p>
<p> Message: <%= @message %> </p>
<p> Game number <%= session[:number_games] %> </p>

<%= link_to "Play again!", game_path %>
